{% extends "base.html" %}
{% block head %}
	{{block.super}}
{%endblock%}

{% block content %}
<!-- /. NAV SIDE  -->
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            About  <small>.</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
{#                    <div class="panel panel-default">#}
                        
                        <div class="panel-body">
                             <div class="wrapper row2">
                                  <div id="container" class="clear">
                                    <!-- ####################################################################################################### -->
                                    <!-- ####################################################################################################### -->
                                    <!-- ####################################################################################################### -->
                                    <!-- ####################################################################################################### -->
                                    <div id="about-us" class="clear">
                                      <!-- ####################################################################################################### -->
                                      <section id="about-intro" class="clear">

                                        <img class="center-block" src="static/img/Shift-01.jpg" alt="">
                                        <p>As operators in control room that staffed 24/7, there is the shifts problem to solved every week.<br>
                                            We wish to make it much more easier for the shift planner admin, and for the different workers.<br>
                                        By saying easier we mean it to be much more accessible, practical, and controllable.</p>
                                      </section>
                                      <!-- ####################################################################################################### -->
                                      <br>
                                      <br>
                                      <section id="team">
                                        <h2>Our Team</h2>
                                        <ul class="clear">

                                          <li class="one_third first">
                                            <figure>
                                                <p><img src="static/img/member.jpeg" alt="" width="280" height="200"></p>
                                              <figcaption>
                                                <p class="team_name">Elad Zada</p>
                                                <p class="team_title">Founder and developer</p>
                                                <p class="team_description">...</p>
                                              </figcaption>
                                            </figure>
                                          </li>
                                          <li class="one_third">
                                            <figure>
                                                 <p><img src="static/img/member.jpeg" alt="" width="280" height="200"></p>
                                              <figcaption>
                                                <p class="team_name">Ran Galili</p>
                                                <p class="team_title">Founder and developer</p>
                                                <p class="team_description">...</p>
                                              </figcaption>
                                            </figure>
                                          </li>
                                          <li class="one_third">
                                            <figure>
                                                 <p><img src="static/img/member.jpeg" alt="" width="280" height="200"></p>
                                              <figcaption>
                                                <p class="team_name">Tal Biton</p>
                                                <p class="team_title">Founder and developer</p>
                                                <p class="team_description">...</p>
                                              </figcaption>
                                            </figure>
                                          </li>
                                          <li class="one_third first">
                                            <figure>
                                                 <p><img src="static/img/member.jpeg" alt="" width="280" height="200"></p>
                                              <figcaption>
                                                <p class="team_name">Shahar Medina</p>
                                                <p class="team_title">Founder and developer</p>
                                                <p class="team_description">...</p>
                                              </figcaption>
                                            </figure>
                                          </li>
                                        </ul>
                                      </section>
                                        <br>
                                        <br>
                                       <section id="about-intro" class="clear">
                                            <h2>Contact Us</h2>

                                        <p>Please, for any problem please contact our support: <h3><mark> ssmshift@gmail.com</mark></h3>
                                        </p>

                                      </section>
                                      <!-- ####################################################################################################### -->
                                    </div>
                                    <!-- ####################################################################################################### -->
                                    <!-- ####################################################################################################### -->
                                    <!-- ####################################################################################################### -->
                                    <!-- ####################################################################################################### -->
                                  </div>
                                </div>
{#                        </div>#}
                        <br><br><br>
                    </div>

				</div>
             <!-- /. PAGE INNERa  -->

                <footer><p>All right reserved SSM Group © 2015</p></footer>
            </div>

         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
	 </div>
	 
{%endblock%}