{% extends "base.html" %}
{% block head %}
	{{block.super}}
{%endblock%}

{% block content %}
<!-- /. NAV SIDE  -->
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            About  <small>.</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Explain About our App....soon
                        </div>
                        
                        <div class="panel-body">
                             
                        </div>
                        
                    </div>
                
                    
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
	 </div>
	 
{%endblock%}