{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/submit-schedule.js"></script>
    <script type="application/javascript" src="static/js/edit_profile.js"></script>
    <style type="text/css">
        .greenColor{
            background-color: #33CC33;
        }
        .redColor{
            background-color: #E60000;
        }
    </style>
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Admin.
                        </h1>
                    </div>
                </div>

                {% for sub in nextWeekSubmissions %}
                    {% if sub.day == 0 or sub.day == 8 %}
                        <select class = "shiftselect" name="{{ sub.day }}{{ sub.hour }}" style="display:none;">
                            <option value="{{ sub.empno }}" selected></option>
                        </select>
                    {% endif %}
                {% endfor %}
                <input type="date" value="{{ sundayDateISO }}" id="cal">
                <h1 class="pager">
                    <small>Weekly Schdule: {{ sundayDate }} - {{ saturdayDate }}</small>
                </h1>

                <div class="panel panel-default">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#home-pills" data-toggle="tab">Notes</a>
                                </li>
                                <li class=""><a href="#substable" data-toggle="tab">Table</a>
                                </li>
                                <li class=""><a href="#profile-pills" data-toggle="tab">Schedule</a>
                                </li>
                                <li class=""><a href="#messages-pills" data-toggle="tab">Users list</a>
                                </li>
                            </ul>
                    </div>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="home-pills">
                                    {% include "Admin_notes.html" %}
                                </div>
                                <div class="tab-pane fade" id="substable">
                                    {% include "Admin_sub_notes.html" %}
                                </div>
                                <div class="tab-pane fade" id="profile-pills">
                                    {% include "Admin_schedulize2.html" %}
                                </div>
                                <div class="tab-pane fade" id="messages-pills">
                                    {% include "Admin_actemplist.html" %}
                                </div>
                            </div>

                </div>

                    </div>

                <!-- /. ROW  -->
				<footer><p>All right reserved SSM Group © 2015</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	 
{%endblock%}