{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/submit-schedule.js"></script>
    <script type="application/javascript" src="static/js/edit_profile.js"></script>
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Admin.
                        </h1>
                    </div>
                </div>
                
                <button class="btn btn-primary"><i class="fa fa-edit "></i> Edit Schdule</button>
                <button class="btn btn-success"><i class="fa fa-user "></i> Create New Employee</button>
                <button  onclick="window.location='DeleteEmployee'" class="btn btn-danger"><i class="fa fa-pencil"></i> Delete Employee</button>


                <h1 class="pager">
                    <small>Weekly Schdule: {{ sundayDate }} - {{ saturdayDate }}</small>
                </h1>

                
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                {% for k in "xxx" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        {% if forloop.counter == 1 %}
                            Morning:
                            {% endif %}
                        {% if forloop.counter == 2 %}
                            Evening:
                            {% endif %}
                        {% if forloop.counter == 3 %}
                            Night:
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover " id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Role</th>
                                            <th>Sunday</th>
                                            <th>Monday</th>
                                            <th>Tuseday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                            <th>Saturday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for j in "xxx" %}
                                        {% if forloop.parentloop.counter == 1 %}
                                            <tr class="success">
                                            {% endif %}
                                        {% if forloop.parentloop.counter == 2 %}
                                            <tr class="info">
                                            {% endif %}
                                        {% if forloop.parentloop.counter == 3 %}
                                            <tr class="warning">
                                            {% endif %}

                                            <td>
                                                <label> Role type {{ forloop.counter }} </label>
                                            </td>
                                            {% for i in "xxxxxxx" %}
                                            <td>
                                            <!-- sel[day][hour][role]-->
                                                      <select class="form-control" id="sel{{ forloop.counter }}{{ forloop.parentloop.parentloop.counter0 }}{{ forloop.parentloop.counter }}">
                                                      <option></option>
                                                      {% for sub in nextWeekSubmissions %}
                                                          {% if forloop.parentloop.counter == sub.day and forloop.parentloop.parentloop.parentloop.counter0 == sub.hour %}
                                                            <option value="{{ sub.sub_empno }}">{{ sub.full_name }}</option>
                                                          {% endif %}
                                                      {% endfor %}
                                                      <option>-----------</option>
                                                      {% for emp in userlist %}
                                                          <option value ="{{ emp.empno }}">{{ emp.firstname }} {{ emp.lastname }}</option>
                                                        {% endfor %}
                                                      </select>

                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                        </div>
                    <div class="form-group">
                        <button class="center-block" id="submit">Submit</button>
                    </div>
                <!-- /. ROW  -->

                    <div class="col-md-8 col-sm-12 col-xs-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Contact List
                            </div> 
                            <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover" id="myTable">
                                    <p>
                                        <button id="edit" class="btn btn-primary"><i class="fa fa-edit "></i> Edit Users</button>
                                    </p>
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Employee Number</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for emp in userlist %}
                                                <tr class="{% if emp.isSent == 0 %}danger{% else %}success{% endif %}">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td contenteditable='false' id="empno">{{ emp.empno }}</td>
                                                    <td contenteditable='false' id="firstname">{{ emp.firstname }}</td>
                                                    <td contenteditable='false' id="lastname">{{ emp.lastname }}</td>
                                                    <td id="email">{{ emp.email }}</td>
                                                    <td contenteditable='false' id="phone_num">{{ emp.phone_num }}</td>
{#                                                    <th><button id="edit" name="edit">Edit User</button></th>#}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                <button id="save" class="btn btn-primary"><i class="fa fa-save "></i> Save Changes</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
				<footer><p>All right reserved SSM Group © 2015</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	 
{%endblock%}