<div class="panel panel-default">
                    <div class="panel-heading">
                        Employees' submission so far
                    </div>
                    <div class="panel-body">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ progress }}%">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sunday</th>
                                        <th>Monday</th>
                                        <th>Tuseday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                        <th>Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for j in "xxx" %}
                                    <tr>
                                        <td><b>
                                            {% if forloop.counter0 == 0%}
                                            Morning
                                            {% endif %}
                                        {% if forloop.counter0 == 1%}
                                            Evening
                                            {% endif %}
                                        {% if forloop.counter0 == 2%}
                                            Night
                                            {% endif %}
                                        </b></td>
                                        {% for i in "xxxxxxx" %}
                                            <td>
                                            {% for day in pop %}
                                                        {% if forloop.counter0 == forloop.parentloop.counter %}
                                                            {% for hour in day %}
                                                                {% if forloop.counter0 == forloop.parentloop.parentloop.parentloop.counter0 %}
                                                                    {% for nom in hour %}
                                                                        {% if nom.isSubbed %}
                                                                        {{ nom.name }}
                                                                        {% endif %}
                                                                        <br>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                            {% endfor %}
                                            </td>
                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="10%">Name </th>
                                        <th width="60%">Note </th>
                                        <th width="20%">Date sent </th>
                                        <th width="5%"><i class="fa fa-table"></i></th>
                                        <th width="5%"><i class="fa fa-edit"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for emp in userlist %}
                                    <tr class="{% if emp.isSent == 0 %}danger{% else %}success{% endif %}" id="tr{{ emp.empno }}">
                                        <td><b>
                                            {{ emp.firstname }} {{ emp.lastname }}
                                        </b></td>
                                        <td>
                                            {% for note in notes %}
                                                {% if emp.empno == note.empno %}
                                                    {{ note.note }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for note in notes %}
                                                {% if emp.empno == note.empno %}
                                                    {{ note.date_sent }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    <td>
                                        {% for note in notes %}
                                                {% if emp.empno == note.empno %}
                                                    {{ note.numofshifts }}
                                                {% endif %}
                                            {% endfor %}
                                    </td>
                                    <td id="count{{ emp.empno }}">
                                        <!-- sum of chosen-->
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>