
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover " id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Sunday</th>
                                            <th>Monday</th>
                                            <th>Tuseday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                            <th>Saturday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for k in "xxx" %}
                                    {% for j in "xxxx" %}
                                    {% if not forloop.counter == 4 or forloop.parentloop.counter == 1 %}
                                        {% if forloop.parentloop.counter == 1 %}
                                            <tr class="success">
                                            {% endif %}
                                        {% if forloop.parentloop.counter == 2 %}
                                            <tr class="info">
                                            {% endif %}
                                        {% if forloop.parentloop.counter == 3 %}
                                            <tr class="warning">
                                            {% endif %}

                                            <td>
                                                <label>{{ forloop.counter }}</label>
                                            </td>
                                            {% for i in "xxxxxxx" %}
                                            <td>
                                            <!-- sel[day][hour][role]-->
                                                      <select class="form-control shiftselect thisweek"
                                                              name="{{ forloop.counter }}{{ forloop.parentloop.parentloop.counter0 }}"
                                                              id="sel{{ forloop.counter }}{{ forloop.parentloop.parentloop.counter0 }}{{ forloop.parentloop.counter }}">
                                                      <option></option>
                                                      {% for day in pop %}
                                                        {% if forloop.counter0 == forloop.parentloop.counter %}
                                                            {% for hour in day %}
                                                                {% if forloop.counter0 == forloop.parentloop.parentloop.parentloop.parentloop.counter0 %}
                                                                    {% for role in hour %}
                                                                        {% if forloop.counter0 == forloop.parentloop.parentloop.parentloop.parentloop.counter %}
                                                                            {% for nom in role %}
                                                                                <option
                                                                                    {% if nom.isSubbed %}
                                                                                        class ="greenColor"
                                                                                        {% else %}
                                                                                        class ="redColor"
                                                                                        {% endif %}
                                                                                    value="{{ nom.empno }}"
                                                                                    {% if nom.isSelected %}
                                                                                    selected
                                                                                    {% endif %}
                                                                                >
                                                                                {{ nom.name }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                          {% endif %}
                                                      {% endfor %}
                                                      </select>
                                            </td>

                                            {% endfor %}
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                        {% if forloop.counter != 3 %}
                                        <tr><td></td></tr>
                                        {% endif %}
                                         {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        <a href="" id="submit" class="btn btn-primary btn-lg">Submit</a>&emsp;&emsp;
                        <a href="" id="send" class="btn btn-primary btn-lg">Send Emails</a>
                    </div>




                         </div>