{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/submit-schedule.js"></script>
    <script type="application/javascript" src="static/js/edit_profile.js"></script>
    <style type="text/css">
        .greenColor{
            background-color: #33CC33;
        }
        .redColor{
            background-color: #E60000;
        }
    </style>
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Admin.
                        </h1>
                    </div>
                </div>
                
                <button class="btn btn-primary"><i class="fa fa-edit "></i> Edit Schdule</button>
                <button class="btn btn-success"><i class="fa fa-user "></i> Create New Employee</button>
                <button  onclick="window.location='DeleteEmployee'" class="btn btn-danger"><i class="fa fa-pencil"></i> Delete Employee</button>

                <input type="date" value="{{ sundayDateISO }}" id="cal">
                <h1 class="pager">
                    <small>Weekly Schdule: {{ sundayDate }} - {{ saturdayDate }}</small>
                </h1>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Employees' submission so far
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sunday</th>
                                        <th>Monday</th>
                                        <th>Tuseday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                        <th>Saturday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for j in "xxx" %}
                                    <tr>
                                        <td><b>
                                            {% if forloop.counter0 == 0%}
                                            Morning
                                            {% endif %}
                                        {% if forloop.counter0 == 1%}
                                            Evening
                                            {% endif %}
                                        {% if forloop.counter0 == 2%}
                                            Night
                                            {% endif %}
                                        </b></td>
                                        {% for i in "xxxxxxx" %}
                                            <td>
                                            {% for sub in nextWeekSubmissions %}
                                                {% if sub.day == forloop.parentloop.counter and sub.hour == forloop.parentloop.parentloop.counter0 %}
                                                {{ sub.full_name }}<br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                            </table>
                    </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Employees' Notes
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="10%">Employee Name </th>
                                        <th width="65%">Note </th>
                                        <th width="20%">Date sent </th>
                                        <th width="5%">  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for emp in userlist %}
                                    <tr id="tr{{ emp.empno }}">
                                        <td><b>
                                            {{ emp.firstname }} {{ emp.lastname }}
                                        </b></td>
                                        <td>
                                            {% for note in notes %}
                                                {% if emp.empno == note.empno %}
                                                    {{ note.note }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for note in notes %}
                                                {% if emp.empno == note.empno %}
                                                    {{ note.date_sent }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    <td id="count{{ emp.empno }}">
                                        <!-- sum of chosen-->
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                            </table>
                    </div>
                    </div>
                </div>


                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                {% for k in "xxx" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        {% if forloop.counter == 1 %}
                            Morning:
                            {% endif %}
                        {% if forloop.counter == 2 %}
                            Evening:
                            {% endif %}
                        {% if forloop.counter == 3 %}
                            Night:
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover " id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Role</th>
                                            <th>Sunday</th>
                                            <th>Monday</th>
                                            <th>Tuseday</th>
                                            <th>Wednesday</th>
                                            <th>Thursday</th>
                                            <th>Friday</th>
                                            <th>Saturday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for j in "xxxx" %}
                                    {% if not forloop.counter == 4 or forloop.parentloop.counter == 1 %}
                                        {% if forloop.parentloop.counter == 1 %}
                                            <tr class="success">
                                            {% endif %}
                                        {% if forloop.parentloop.counter == 2 %}
                                            <tr class="info">
                                            {% endif %}
                                        {% if forloop.parentloop.counter == 3 %}
                                            <tr class="warning">
                                            {% endif %}

                                            <td>
                                                <label> Role type {{ forloop.counter }} </label>
                                            </td>
                                            {% for i in "xxxxxxx" %}
                                            <td>
                                            <!-- sel[day][hour][role]-->
                                                      <select class="form-control shiftselect " id="sel{{ forloop.counter }}{{ forloop.parentloop.parentloop.counter0 }}{{ forloop.parentloop.counter }}">
                                                      <option></option>
                                                      {% for emp in userlist %}
                                                              <option
                                                                {% for sub in nextWeekSubmissions %}
                                                                        {% if emp.empno == sub.empno and sub.day == forloop.parentloop.parentloop.counter and sub.hour == forloop.parentloop.parentloop.parentloop.parentloop.counter0 %}
                                                                            data ="1" class ="greenColor"
                                                                        {% endif %}
                                                                {% endfor %}
                                                                       value ="{{ emp.empno }}"
                                                                      {% for sft in shifts %}
                                                                            {% if sft.empno == emp.empno and sft.day == forloop.parentloop.parentloop.counter and sft.hour == forloop.parentloop.parentloop.parentloop.parentloop.counter0 and sft.role == forloop.parentloop.parentloop.parentloop.counter %}
                                                                                selected
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                      >{{ emp.firstname }} {{ emp.lastname }}</option>
                                                                        {% endfor %}


                                                      </select>
                                            </td>

                                            {% endfor %}
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                        </div>
                    <div class="form-group">
                        <button id="submit">Submit</button>
                    </div>
                <!-- /. ROW  -->



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Contact List
                            </div> 
                            <div class="panel-body">
                            <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="myTable">
                                    <p>
                                        <button id="edit" class="btn btn-primary"><i class="fa fa-edit "></i> Edit Users</button>
                                    </p>
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Employee Number</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for emp in userlist %}
                                                <tr class="{% if emp.isSent == 0 %}danger{% else %}success{% endif %}">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td class="empno" contenteditable='false' id="empno">{{ emp.empno }}</td>
                                                    <td contenteditable='false' id="firstname">{{ emp.firstname }}</td>
                                                    <td contenteditable='false' id="lastname">{{ emp.lastname }}</td>
                                                    <td contenteditable='false' id="email">{{ emp.email }}</td>
                                                    <td contenteditable='false' id="phone_num">{{ emp.phone_num }}</td>
{#                                                    <th><button id="edit" name="edit">Edit User</button></th>#}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                <button id="save" class="btn btn-primary"><i class="fa fa-save "></i> Save Changes</button>
                                </div>
                            </div>
                        </div>
                </div>

                    </div>

                <!-- /. ROW  -->
				<footer><p>All right reserved SSM Group © 2015</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	 
{%endblock%}