{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/history.js"></script>
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->
        
         <!--   <div id="page-inner"> -->
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            History  <small>.</small>
                        </h1>
                    </div>
                </div>
                 <!-- /. ROW  -->
                <div class="row">
                <div class="col-md-12">
                <input type="date" value="{{ sundayDateISO }}" id="cal">
                    <button type="button" id="prnt" class="btn btn-info btn-circle"><i class="fa fa-3x fa-print"></i>
                </button>
                    {% include "shifttable.html" %}
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
{%endblock%}