{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/edit_profile.js"></script>
{%endblock%}

{% block content %}
<!-- /. NAV SIDE  -->

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Home.
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green">
                            <div class="panel-body">
                                <i class="fa fa-clock-o fa-5x"></i>
                                <h3>{{ ShiftsNum }}</h3>
                            </div>
                            <div class="panel-footer back-footer-green">
                                No. of Shifts
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-blue">
                            <div class="panel-body">
                                <i class="fa fa-coffee fa-5x"></i>
                                <h3>{{ Nextshift }} </h3>
                            </div>
                            <div class="panel-footer back-footer-blue">
                                Next shift

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-red">
                            <div class="panel-body">
                                <i class="fa
                                {% if isSent %}
                                fa-smile-o
                                {% else %}
                                fa-warning
                                {% endif %}
                                fa-5x"></i>
                                <h3>
                                    {% if isSent %}
                                    Sent.
                                    {% else %}
                                    Have not sent yet
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="panel-footer back-footer-red">
                                Next Week Schedule
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-brown">
                            <div class="panel-body">
                                <i class="fa fa-users fa-5x"></i>
                                <h3>0</h3>
                            </div>
                            <div class="panel-footer back-footer-brown">
                                Switch Requests

                            </div>
                        </div>
                    </div>
                </div>

    


                
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                {% include "shifttable.html" %}
                <!-- ROW  -->
                {% if scheduleNext %}
                    {% with nextSundayDate as sundayDate %}
                        {% with nextSaturdayDate as saturdayDate %}
                            {% with scheduleNext as schedule %}
                                {% include "shifttable.html" %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}



                <!-- /. ROW  -->



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Contact List
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Employee Number</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for emp in userlist %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td contenteditable='false' id="empno">{{ emp.empno }}</td>
                                                <td contenteditable='false' id="firstname">{{ emp.firstname }}</td>
                                                <td contenteditable='false' id="lastname">{{ emp.lastname }}</td>
                                                <td contenteditable='false' id="email">{{ emp.email }}</td>
                                                <td contenteditable='false' id="phone_num">{{ emp.phone_num }}</td>
{#                                                    <th><button id="edit" name="edit">Edit User</button></th>#}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- /. ROW  -->
                </div>
            </div>
            <footer><p>All right reserved SSM Group © 2015</p></footer>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
	</div>
	 
{%endblock%}