{% extends "base.html" %}
{% block head %}
	{{block.super}}
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/index-login.js"></script>
{%endblock%}

{% block content %}

    {%if user%}
    <div>Hello, {{user}}. You can <a href="/logout">logout</a> here</div>
    {% else %}
    <div id="login_div" class="login-card">
        <h1>Login</h1><br>
        <input type="text" placeholder="email@example.com" id="login_email"><br>
        <input type="password" placeholder="password" id="login_password"><br>
        <p align="center">
        <button id="login">Login</button>
        </p>
        <div class="login-help">
        <br>
        <a class="center-block" href="/ResetPassword">Forgot Password ?</a>
        </div>
    </div>
    {%endif%}
{%endblock%}