{% extends "base.html" %}
{% block head %}
	{{block.super}}
	<script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/index-login.js"></script>
{%endblock%}

{% block content %}
  <div class="login-card">
    <h1>Registration</h1><br>
    <input type="text" name="FirstName" id="FirstName" placeholder="First Name">
    <input type="text" name="LastName" id="LastName" placeholder="Last Name">
    <input type="text" name="EmployeeNumber" id="EmployeeNumber" placeholder="Employee Number">
    <input type="text" placeholder="email@example.com" id="reg_email"><br>
    <input type="password" placeholder="password" id="reg_password"><br>
    <input type="checkbox" name="isAdmin" id="isAdmin"> Admin<br>
    <button id="register">Register</button>
  

  <div class="login-help">
    <a href="#">Have Account ?</a> • <a href="/Login">Login</a>
  </div>
</div>


{%endblock%}