{% extends "base.html" %}
{% block head %}
	{{block.super}}
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Submission shifts  <small>.</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <small>Submit your shifts here.</small>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Sunday dd/mm/yy</th>
                                            <th>Monday dd/mm/yy</th>
                                            <th>Tuseday dd/mm/yy</th>
                                            <th>Wednesday dd/mm/yy</th>
                                            <th>Thursday dd/mm/yy</th>
                                            <th>Friday dd/mm/yy</th>
                                            <th>Saturday dd/mm/yy</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="success">
                                            {% for i in "xxxxxxx" %}
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Morning
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr class="info">
                                            {% for i in "xxxxxxx" %}
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Evening
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr class="warning">
                                            {% for i in "xxxxxxx" %}
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox"> Night
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-default center-block">Submit</button>
                    </div>
                    
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
{%endblock%}