{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/submit-shift.js"></script>
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Submission shifts  <small>.</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
                <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             <small>Submit your shifts here.</small>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Sunday<br>{{ day1 }}</th>
                                            <th>Monday<br>{{ day2 }}</th>
                                            <th>Tuseday<br>{{ day3 }}</th>
                                            <th>Wednesday<br>{{ day4 }}</th>
                                            <th>Thursday<br>{{ day5 }}</th>
                                            <th>Friday<br>{{ day6 }}</th>
                                            <th>Saturday<br>{{ day7 }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="success">
                                            {% for i in "xxxxxxx" %}
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="{{ forloop.counter }}0" id="{{ forloop.counter }}0"
                                                                    {% for sub in submissions%}
                                                                        {% if sub.day_of_the_week == forloop.parentloop.counter %}
                                                                            {% if sub.shift_hour == 0 %}
                                                                                checked
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    >
                                                        {% for sub in submissions%}

                                                                    {% endfor %}
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr class="info">
                                            {% for i in "xxxxxxx" %}
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="{{ forloop.counter }}1" id="{{ forloop.counter }}1"
                                                                    {% for sub in submissions%}
                                                                        {% if sub.day_of_the_week == forloop.parentloop.counter %}
                                                                            {% if sub.shift_hour == 1 %}
                                                                                checked
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    > Evening
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        <tr class="warning">
                                            {% for i in "xxxxxxx" %}
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="{{ forloop.counter }}2" id="{{ forloop.counter }}2"
                                                                    {% for sub in submissions%}
                                                                        {% if sub.day_of_the_week == forloop.parentloop.counter %}
                                                                            {% if sub.shift_hour == 2 %}
                                                                                checked
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    > Night
                                                        </label>
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control" rows="3" name="notes" id="notes">{{ note }}</textarea>
                    </div>
                    
                    <div class="form-group">
                        <button id="submit">Submit</button>
                    </div>
                    
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
{%endblock%}