{% extends "base.html" %}
{% block head %}
	{{block.super}}
    <script type="application/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="application/javascript" src="static/js/switchshifts.js"></script>
{%endblock%}

{% block content %}
 <!-- /. NAV SIDE  -->
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Switch shifts  <small>.</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
                <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary">
				        <div class="panel-heading">
                         Switch
                        </div>
                        <div class="panel-body">
                            <h4>Choose employee</h4>
                            <select id="emplist">
                                <option/>
                                {% for emp in userlist %}
                                    {% if emp.empno != userempno %}
                                        <option id="{{ emp.empno }}"
                                                {% if emp.empno == ce %}
                                                    selected
                                                    {% endif %}
                                                >{{ emp.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <h4>Your shifts</h4>
                            <select id="myshifts">
                                <option/>
                                {% for sft in allshifts %}
                                    {% if sft.empno == userempno %}
                                        <option id="{{ sft.id }}"
                                                {% if sft.id == cms %}
                                                    selected
                                                {% endif %}
                                                >{{ sft.shift }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% for sft in allshifts2 %}
                                    {% if sft.empno == userempno %}
                                        <option id="{{ sft.id }}"
                                                {% if sft.id == cms %}
                                                    selected
                                                {% endif %}
                                                >{{ sft.shift }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>


                            <h4>His/Her shifts</h4>
                            <select id ="othershifts">
                                <option/>
                                {% for sft in allshifts %}
                                    {% if ce == sft.empno %}
                                        <option id="{{ sft.id }}">{{ sft.shift }}</option>
                                    {% endif %}
                                {% endfor %}
                                {% for sft in allshifts2 %}
                                    {% if ce == sft.empno %}
                                        <option id="{{ sft.id }}">{{ sft.shift }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        <br>
                        <br>
                        <h5>
                        <button id="submit">submit</button>
                            </h5>
                        </div>

				    </div>
                    <!-- Advanced Tables -->

				</div>
             <!-- /. PAGE INNER  -->
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
				        <div class="panel-heading">
                         <h3>Received Requests</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>My Shift</th>
                                            <th>Switch with</th>
                                            <th>His/Her Shift</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for req in recRequests %}
                                        <tr class="warning">
                                            <td>{{ req.to_shift }}</td>
                                            <td>
                                                {% for emp in userlist %}
                                                    {% if emp.empno == req.from_empno %}
                                                        {{ emp.name }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ req.from_shift }}</td>
                                            <td>{{ req.status }}</td>
                                            <td>
                                                {% if req.status == "pending" %}
                                                <button class="btn btn-success" value="1" name="{{ req.id }}"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-danger" value="0" name="{{ req.id }}"><i class="fa fa-arrows-alt"></i></button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
				</div>
            </div>
                 <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
				        <div class="panel-heading">
                         <h3>My Requests</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>My Shift</th>
                                            <th>Switch with</th>
                                            <th>His/Her Shift</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for req in myRequests %}
                                        <tr class="warning">
                                            <td>{{ req.from_shift }}</td>
                                            <td>
                                                {% for emp in userlist %}
                                                    {% if emp.empno == req.to_empno %}
                                                        {{ emp.name }}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>{{ req.to_shift }}</td>
                                            <td>{{ req.status }}</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
            </div>


{%endblock%}